%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [native, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [{lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
        {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {branch, "master"}}}
]}.
